.login{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9479389;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: #e9479300;
}

.regBtn,

.logBtn{
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 5px;
    border: none;
    margin-left: 13px;
}

.logBtn{
    margin-left: 37px;
    padding-left: 20px;
    padding-right: 20px;
}

.fav-img {
    max-height: 10px;
    width: auto; 
    height: auto;
  }

.img-for-book {
    max-height: 100px;
    width: auto; 
    height: auto;


.colorStaer{
    background-color: black;
}
.star1:hover{
    cursor: pointer;

}